# Keep this file in sync with: https://github.com/kitconcept/buildout/edit/master/requirements.txt
setuptools==42.0.2
zc.buildout==2.13.3
wheel
# code analysis
black==21.11b1
flake8==4.0.1
pyroma==3.2
